.home_container {
    background-image: url("./images/background_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 90px auto;
    border: 15px solid white;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
}

.image {
    border-radius: 10px;
}

.name {
    font-size: 50px;
    margin-bottom: 40px;
}

a {
    text-decoration: none; /* 변경 */
    color: black;
    font-size: 30px;
    margin: 5px;
    text-align: right;
}

.menu {
    display: flex;
    flex-direction: column;
}

.home {
    border-radius: 10px;
    padding: 85px;
    background-color: rgba(255, 255, 255, 0.5);
}

.url {
    margin-right: 50px;
}

.url ul {
    list-style-type: none;
}
