/* cdn import */

/* 폰트 적용 */
body {
    font-family: "Nanum Pen Script", sans-serif;
}
/* 공통된 부분 스타일링 */
.container {
    background-image: url("./images/background_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 90px auto;
    border: 15px solid white;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
}

span {
    font-size: 45px;
}

.home_btn {
    margin-right: 40px;
}

/* 메인 페이지 스타일링 */
.name {
    font-size: 50px;
    margin-bottom: 40px;
}

.menu a {
    text-decoration: none; /* 변경 */
    color: black;
    font-size: 30px;
    margin: 5px;
    text-align: right;
}

.menu {
    display: flex;
    flex-direction: column;
}

.home {
    border-radius: 10px;
    padding: 85px;
    background-color: rgba(255, 255, 255, 0.5);
}

.url {
    margin-right: 50px;
}

.url ul {
    list-style-type: none;
}

/* About 페이지 스타일링 */

.content {
    font-size: 30px;
    width: 430px;
}
